@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Netlify CMS */
div#nc-root {
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  height: 100%;
  direction: ltr;
}

.slick-vertical,
.slick-vertical .slick-list,
.slick-vertical .slick-track {
  height: 100% !important;
}

.slick-vertical .slick-slide {
  flex: 1;
  height: 100% !important;
}

.slick-vertical .slick-slide > div {
  height: 100% !important;
}

/* CONTENT SLIDER */
.content-slider {
  width: 100%;
  height: 100%;
}

.content-slider .slick-list {
  height: 100%;
}

.content-slider .slick-track {
  height: 100%;
}

.content-slider .slick-slide img {
  z-index: -100;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  border-radius: 0px 0px 40px 40px;
  opacity: 0.2;
}

.content-slider .slick-slide > div {
  height: 100%;
}

.slick-list.draggable {
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.slick-slider {
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
